<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Info</title>
</head>

<body th:object="${contact}">
    <h1>Your contact information</h1>
    <p>
        Id:
    <p th:text="*{id}"></p>
    </p>
    <br>
    <p>
        Name:
    <p th:text="*{name}"></p>
    </p>
    <br>
    <p>
        Email:
    <p th:text="*{email}"></p>
    </p>
    <br>
    <p>
        Phone Number:
    <p th:text="*{phoneNum}"></p>
    </p>
    <br>

</body>

</html>